<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div><%= f.label :first_name %><br />
        <%= f.text_field :first_name, class: "form-control"%></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div><%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: "form-control"%></div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div><%= f.label :telephone %><br />
        <%= f.text_field :telephone, class: "form-control"%></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div><%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control"%></div>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div><%= f.label :current_password %><i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, :required => true, class: "form-control"%></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div><%= f.label :password %><i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, :autocomplete => "off", class: "form-control"%></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control"%></div>
      </div>
    </div>
</div>  
    <button type="submit" class="btn btn-success" >Confirm buddy!</button>
<% end %>