<h3>Please sign up before adding your yacht.</h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
    <div class="col-md-6">
      <div class="form-group">
      	<div><%= f.label :first_name %><br />
        <%= f.text_field :first_name, class: "form-control"%></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div><%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: "form-control"%></div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div><%= f.label :telephone %><br />
        <%= f.text_field :telephone, class: "form-control"%></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div><%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control"%></div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div><%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control"%></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control"%></div>
      </div>
    </div>
</div>
  <button type="submit" class="btn btn-success">Confirm</button>
<% end %>

<%= render "devise/shared/links" %>