
  <div>
		<h2><%= @user.first_name %></h2>
		<h2><%= @user.last_name %></h2>
    <h2><%= @user.email %><br></h2>
    <h2><%= @user.telephone %><br></h2>

    <h2> My yachts for rental baby! </h2>
    <% @user.yachts.each do |y| %>
    <h3><%= link_to y.name, yacht_path(y) %></h3>
    <% end %>

		<% if current_user == @user %>
		 <button type="submit" class="btn btn-success"><%= link_to "Edit", edit_user_registration_path %></button>
		<% end %>

  </div>