<div id="banner">
	<header>
		<p class="text-jumbo"> Find a yacht to cruise </p>
		<p class="baseline"> Rent at best price directly from skippers. With friends or Family. </p>
		<button type="submit" class="btn-lg btn-info"><span class="glyphicon glyphicon-search"></span><%= link_to " Search", yachts_path %></button>
	</header>

</div>