<h1><a href="https://twitter.com/BeMyBoat">Join Us on Twitter</a></h1>

<p>We think that it is really important to develop our skippers' network. 
</p>
<p>If you would like to follow our acivity on real-time, we advise you to follow us on twitter. </p>

<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ma-modale">
  Launch demo modal
</a>

<div class="modal fade" id="ma-modale">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->