<%= form_for(@yacht) do |f| %>
  <% if @yacht.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yacht.errors.count, "error") %> prohibited this yacht from being saved:</h2>

      <ul>
      <% @yacht.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, placeholder: "Your yacht in a one-line description", class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :type %><br>
        <%= f.text_field :type, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :length %><br>
        <%= f.text_field :length, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :harbor %><br>
        <%= f.text_area :harbor, class: "form-control" %>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :year %><br>
        <%= f.text_field :year, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :guests_number %><br>
        <%= f.text_field :guests_number, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :crew_number %><br>
        <%= f.text_area :crew_number, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :cabins_number %><br>
        <%= f.text_field :cabins_number, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.fields_for :pictures, @picture do |picture_form| %>
          <%= picture_form.file_field :photo %>
        <% end %>
      </div>
    </div>  
  </div>

  <button type="submit" class="btn btn-success">Add your beautiful Little Yacht</button>
<% end %>
