<h1>Listing yachts</h1>

<table>
  <thead>
    <tr>
      <th>Skipper</th>
      <th>Name</th>
      <th>Length</th>
      <th>Harbor</th>
      <th>Year</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @yachts.each do |yacht| %>
      <tr>
        <td><h3><%= yacht.skipper_id %></h3></td>
        <td><h3><%= yacht.name %></h3></td>
        <td><h3><%= yacht.length %></h3></td>
        <td><h3><%= yacht.harbor %></h3></td>
        <td><h3><%= yacht.year %></h3></td>
        <td><%= link_to 'Show', yacht %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yacht', new_yacht_path %>