<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @yacht.name %>
</p>

<p>
  <strong>Length:</strong>
  <%= @yacht.length %>
</p>

<p>
  <strong>Harbor:</strong>
  <%= @yacht.harbor %>
</p>

<p>
  <strong>Year:</strong>
  <%= @yacht.year %>
</p>

<p>
  <strong>Cabins number:</strong>
  <%= @yacht.cabins_number %>
</p>

<p>
  <strong>Photos:</strong><br>
  <% @yacht.pictures.each do |pict| %>
    <li style="list-style-type: none"><%= image_tag pict.photo.url(:medium) %></li>
  <% end %>
</p>

<%= link_to 'Back', yachts_path %>
<% if current_user == @yacht.skipper %> |
    <%= link_to 'Edit', edit_yacht_path(@yacht) %> |
    <%= link_to 'Destroy', @yacht, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>