<h3>Enjoy your day and please log in</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div class="row">
    <div class="col-md-4">
      <div class="form-group">
				  <div>
				  	<%= f.label :email %><br />
				  	<%= f.email_field :email, :autofocus => true, class: "form-control" %>
					</div>
			</div>
		</div>
		<div class="col-md-4">
      <div class="form-group">
					<div>
						<%= f.label :password %><br />
  					<%= f.password_field :password, class: "form-control" %>
  				</div>
  		</div>
  	</div>

  <% if devise_mapping.rememberable? -%>
    <div class="col-md-4">
      <div class="form-group">
		    <div>
		    	<%= f.label :remember_me %><br />
		    	<%= f.check_box :remember_me, class: "form-group" %>
		    </div>
		  </div>
		</div>
	
  <% end -%>

</div>

<button type="submit" class="btn btn-success">Confirm</button>
<button type="password " class="btn btn-info">Forgot your password</button>
<% end %>
