/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar-default{
  background: transparent;
  border: transparent;
 }

 .navbar-default .navbar-nav > li > .btn{
 	color: white;
 	background: rgb(245,165,40);
 }

 .navbar-default .navbar-nav > li > .btn:hover{
 	color: white;
 	background: blue;
 	background: rgba(245,165,40, 0.6);
 }

.text-jumbo{
  font-size: 4.5em;
  font-weight:600;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  font-family: arial;
  text-align: center;
}

.baseline{
  font-size: 1.5em;
  font-family: arial;
  text-align: center;
}

footer{
	background: #EC3367;
	color: white;
	border-top: 2px solid black;
}

li{
	display: inline-block;
}