// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-home{
  background-image: image-url('home_1.jpg');
  background-repeat: no-repeat;
  background-position: center center left;
  height: 60em;
  background-size: cover;
  h1{
    font-size: 1.25em;
  }
 }

img{
	position: relative;
}

header{
	position: absolute;
	left: 100px;
	right: 0;
	bottom: 0;
	top: 100px;
}

button{
	position: relative;
	left: 80%;
	right: 0;
	bottom: 0;
	top: 10%;
}
#banner {
	color: white;
	position: relative;

	h1{
		font-size: 26px;
	}
	h2{
		font-size: 20px;
	}

	.btn-info{
		color: white;
	}
}

.alert {
	padding: 0px;
	margin-bottom: 0px;
	border: 0px;
}