<!DOCTYPE html>
<html>
<head>
  <title>MyLittleYacht</title>
  <%= stylesheet_link_tag   "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="background-home">
	<%= render 'layouts/navbar' %>
  <p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</div>

<div>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
